 
 *{
    margin: 0;
    padding: 0;
 }

 .container{
     padding: 0 75px;
 }

 .menu-item-left
 {
    flex:1
 }

 .menu-item-center
 {
    flex:4
}

 .menu-item-right
 {
     flex: 1;
 }

 .logo{
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
 }

 .nav-link {
    display: inline-block;
    margin-left: 15px;
    position: relative;
 }
 
 .dropdown .sub-menus{
    position: absolute;
    top:30px;
    left:0px;
    visibility:hidden;
 }
 .dropdown:hover .sub-menus{
    visibility:visible;
 }

 li:first-of-type{
    margin: 0;
 }

 .d-flex{
    display: flex;
 }

 .align-items-center{
    align-items: center;
 }

 .p-1{
    padding: 1.5rem;
 }

 .bg-light{
    background-color: lightgray;
 }

 .bg-primary{
    background-color: orchid;
 }

 .list-unstyled{
    list-style-type: none;
 }

 .sub-menus{
      width: 150px;
 }