
.product-card{
  border: 1px solid black;
  padding: 0 20px;
}

.product-list{
  list-style-type: none;
}

.img-thumbnail{
  width: 90px;
  height: 90px;
  float: left;
}

.product-grid{
    padding: 50px;
   display: grid;
   
   row-gap: 20px;
   text-align: center;
}

.grid-4{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3{
  grid-template-columns: 1fr 1fr 1fr;
}

.product-grid img{
  width: 150px;
  height: 200px;
}