 
 h4{
   font-size: 40px;
 }

 .todo-container{
     padding: 0 10%;
 }

 .todo-container input[type="text"]{
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
 }

 .todo-container button{
      height: 50px;
      background-color: black;
      color: white;
      border: 0;
      padding: 10px 30px;
      font-size: 20px;
      margin: 0 5px;
 }

 .task-list{
   list-style-type: none;
   padding: 0;
 }

 .task-item{
     margin: 10px 0 ;
     font-size: 20px;
 }

 input[type="checkbox"]{
    
 }

 